figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 0px;
}
figure img {
    vertical-align: top;
		box-shadow: 2px -2px 20px 1px #02010a;
}
figure figcaption {
    border: 0px dotted blue;
    text-align: center;
}
body{
	background-color:#02010a;
	font-family: 'Dancing Script', cursive;
}

nav ul {
    float: right;
    text-align:right;
	width: 100%;
	}

@media screen and (max-width: 900px) {
.contenido {
	margin:0;
	padding: 0;
	width: 100%;
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;

}

.ImagenSecundaria {
	display: flex;
	flex-direction: column;
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
  align-items: center;

}
.footer{
	display: flex;
	flex-direction: column;
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
  align-items: flex-start;
}
.Galeria1{
  display: flex;
  flex-direction: column;
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
  align-items: center;
}
.Galeria2{
  display: flex;
  flex-direction: column;
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
  align-items: center;
}

.cabecera {
  flex-wrap: wrap;
  }
.menu {
  order: 2;
  width: 100%;
  flex-wrap: wrap;

  }
}

.menu {
  align-items: flex-end;
    display: flex;
}

	.contenido{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: center;

	}

	.contenido div{
		box-sizing: border-box;
		max-width: 900px;

	}


.cabecera{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
  animation: slidein 2s;

}

h1{
	float: left;
}

nav a{
	color: white;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
}

nav ul li a {
	display: flex;
	padding: 0 10px;
	text-decoration: underline;
}

nav ul li a:hover {
	text-decoration: none;
}

.ImagenCentral img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	align-self: center;
	box-shadow: 2px -2px 20px 1px #02010a;
	background-image:#82c3a6;

}


		.ImagenCentral {
			background-color: #82c3a6;


		}
		.ImagenSecundaria{
			background-color: #d5c75f;

		}
		.ImagenDerecha img{

			border-radius: 1px;
			width:50%;
			float: right;
			margin-left: 0;



		}
		.ImagenIzquierda img{

			border-radius: 1px;
			width:50%;
			float: left;
			margin-right: 0;


		}
		.dcabecera, .ImagenCentral{
			width: 100%;
			flex-direction: column;
		}



			.ImagenCentral {

				width: 100%;
			}
			.ImagenCentral img{
				border: 1px solid black;
				display: block;
				align-self: center;

			}



		.contenido {
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}



	.contenido{
		display: -webkit-flex;
		display: flex;
	}

	.ImagenSecundaria {
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
		width: 100%;

	}

	.ImagenSecundaria > div {
		width: 50%;
		padding: 10px;
		display: flex;

	}

	.ImagenSecundaria >a {
		text-align: center;

	}


	.Imagen img{
		margin-left: auto;
		margin-right: auto;
		top:0%;
		padding: 0px;
		border: 1px solid black;
		display: flex;
		align-self: center;


	}
	.footer{
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
		width: 100%;
		background-color:#C6d5c5;
		border-radius: 0px 0px 10px 10px;

	}

	.footer >div{
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
		width: 25%;
		padding: 10px;
    text-align: left;
	}
.header{
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
}



.animacion img {

-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
}
.animacion img:hover {
-webkit-transform: rotate(10deg);
transform: rotate(10deg);
box-shadow: 2px 2px 2px 2px #82c3a6;
}


@keyframes imagen2-animacion {
	0% {
		position: relative;
		left: 0px;

	}
	50% {
		position: infinite;
		transform: translateX(20px) translateY(-5px);
	}
	100% {
		position: relative;
		left: 0px;
	}
}


#animacion2 img:hover{
	animation-name: imagen2-animacion;
	animation-duration: 2s ;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	box-shadow: 2px 2px 2px 2px #82c3a6;
}

.Galeria1 {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	background-color: #d5c75f;

}

.Galeria1 > div {
	width: 33.33%;
	padding: 10px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

}
.Galeria2 {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	background-color: #d5c75f;

}

.Galeria2 > div {
	width: 33.33%;
	padding: 10px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.Imagen1 img{
	border: 1px solid black;
 -webkit-filter: blur(10px);
 filter: blur(10px);	box-shadow: 2px -2px 20px 1px #02010a;
 box-shadow: 2px -2px 20px 1px #02010a;
}
.Imagen2 img{
	border: 1px solid black;
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
 box-shadow: 2px -2px 20px 1px #02010a;
}
.Imagen3 img {
	border: 1px solid black;
	-we
  bkit-filter: sepia(90%);
	box-shadow: 2px -2px 20px 1px #02010a;
}
.Imagen4 img {
	border: 1px solid black;
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
 	box-shadow: 2px -2px 20px 1px #02010a;
}
.Imagen5 img {
	border: 1px solid black;
		box-shadow: 2px -2px 20px 1px #02010a;
}
.Imagen6 img{
	border: 1px solid black;
	-webkit-filter: grayscale(100%);
 filter: grayscale(100%);
 	box-shadow: 2px -2px 20px 1px #02010a;
}

@keyframes slidein {
  0%
  {
           margin-top: 150%;

  }
60%
{
       margin-top: -5%;
  }
 100%
 {
        margin-top: 0%;

  }
}
